


<!DOCTYPE html>
<html lang="en">

<%= require('html-loader!./assets/html/head.html') %>


  <body id ="home">
    <!-- header -->
    <div class="hero-head">
      <section class="hero is-primary is-medium" id="contact">
	<div class="hero-body">
	  <div class="container">
	    <div class="header-titles">
        <img src='/app/assets/img/nametaglogo_white.png' />
          <!--
	      <h3 class="title is-3 is-spaced">Nametag Token</h3>
	      <h5 class="subtitle is-5 is-spaced">Your crypto handle.</h5>
          -->
      </div>


      <div class="row">
        <div class="is-size-4 font-raleway" style="margin-left:2em;"> Your digital alias. </div>
      </div>

	    <div class="header-buttons pull-right">

        <span class="control ">
          <a class="button is-info is-size-5" target="_blank" href="https://github.com/nametagtoken">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>Github</span>
          </a>
        </span>

	      <span class="control ">
      		<a class="button is-info is-size-5" target="_blank" href="https://opensea.io/category/nametagtoken">
      		  <span class="icon">
      		    <i class="fab fa-ethereum"></i>
      		  </span>
      		  <span>Nametag Market</span>
      		</a>
	      </span>



	    </div>
	  </div>
	</div>
      </section>
    </div>
    <!-- end of header -->

    <!-- example content block -->
    <div class="content-block">
      <section class="hero">
	<div class="hero-body">
	  <div class="container">


      <div id="eth-container" class="eth-container box" v-cloak    >




        <div class="columns">

          <div class="column" v-if="connected">
            <div class="is-centered" >
              <span class="tag is-size-6"> Connected: <i class="fab fa-ethereum has-text-success is-size-5" style="margin-left:1em;margin-right:0.5em"></i>  Mainnet</span>

            </div>
          </div>

               <div class="column">

                 <div v-if="!connected" >
                   <div class="button is-secondary btn-action-connect-web3"> Connect To Metamask </div>
                 </div>


                 <div v-if="nametagTokenAddress">

                   <span class="tag is-size-6">NTT Contract </span> <br> <a target='_blank' v-bind:href='nametagTokenURL'>{{nametagTokenAddress}}</a>
                 </div>

               </div>
               <div class="column">

                 <div v-if="web3address">

                   <span class="tag is-size-6">Connected Account </span><br> <a target='_blank' v-bind:href='etherscanURL'>{{web3address}}</a>
                 </div>


               </div>
        </div>

        <div class="columns alert-container notification is-danger" v-if="errorMessage" >

             {{ errorMessage }}

       </div>

      </div>


      <div class="columns">

  	    <div class="content column is-6 is-offset-3">


          <div id="nametag-input" class="main-text box" v-cloak    >


          <div class="whitespace-md"></div>


          <div class="columns">
            <div class="column">
               <h4 class=" is-size-4 is-4 is-spaced  " >Claim a Nametag</h4>
            </div>
            <div class="column">
              <div class="pull-right" v-if='showAvailability' v-cloak>
                <span class="tag is-success" v-if='nametagAvailable'>Available</span>
                <span class="tag is-danger" v-if='!nametagAvailable'>Not Available</span>
              </div>
            </div>
          </div>



           <div class="field">
             <label class="label"> </label>
             <div class="control">
               <input class="input is-large   " type="text" placeholder=" "  v-on:change="inputChange" v-on:keyup="keyUp" v-model='inputName'>
             </div>
            </div>



            <div class="pull-right">
              <div v-bind:disabled="!(showAvailability && nametagAvailable)" class="button is-large" v-on:click='onSubmit'>
                <span class=" ">
                  <i class="fab fa-ethereum" style="margin-right:1em"></i>
                </span>
                <span> Submit </span>
              </div>
            </div>


    	      </div>

  	    </div>
      </div>

	  </div>
	</div>
      </section>
      <hr/>
    </div>
    <!-- end of example block -->

    <!-- example content block -->
    <div class="content-block">
      <section class="hero">

	<div class="hero-body">


    <div class="container" style="height:200px;" >
      <div class="content" id="personalnameslist" v-if="list.length > 0" v-cloak>
        <h4 class="title is-4">My Nametags</h4>
        <div class="recent-tags-list blue-links" >

            <span class="tag is-size-4" v-for="item in list"> <a v-bind:href="item.tokenURL" target="_blank"> {{item.tokenName}} </a> </span>


      </div>
        <div class="columns is-multiline">
        <div class="column is-6">

        </div>
        <div class="column is-6">

        </div>
        </div>
      </div>
    </div>



	  <div class="container" style="height:200px;" >
	    <div class="content" id="recentnameslist" v-if="list.length > 0" v-cloak>
	      <h4 class="title is-4">Recent Nametags</h4>
	      <div class="recent-tags-list blue-links" >

            <span class="tag is-size-4" v-for="item in list"> <a v-bind:href="item.tokenURL" target="_blank"> {{item.tokenName}} </a> </span>


      </div>
	      <div class="columns is-multiline">
    		<div class="column is-6">

    		</div>
    		<div class="column is-6">

    		</div>
	      </div>
	    </div>
	  </div>


   <div class="container" >




     <div class="columns">

      <div class="content column is-6 is-offset-3">


         <div id="tokenIdQuery" class="main-text box" v-cloak    >


         <div class="whitespace-md"></div>


         <div class="columns">
           <div class="column">
              <h4 class=" is-size-4 is-4 is-spaced  " >Name to Token ID</h4>
           </div>
           <div class="column">

           </div>
         </div>

          <div class="field">
            <label class="label"> </label>
            <div class="control">
              <input class="input is-large" type="text" placeholder="Token Name"   v-model='queryName'>
            </div>
           </div>

           <div class="columns">
             <div class="column">
               <div>
                 {{tokenIdResult}}
               </div>
             </div>

           </div>


           <div class="columns">
             <div class="column">

             </div>
             <div class="column">
               <div class="pull-right">
                 <div v-bind:disabled=" !(queryName.length > 0)" class="button is-large" v-on:click='onSubmit'>
                   <span class=" ">
                     <i class="fab fa-ethereum" style="margin-right:1em"></i>
                   </span>
                   <span> Query </span>
                 </div>
               </div>
             </div>
           </div>



          </div>

      </div>
     </div>



     <div class="whitespace-sm"></div>


     <div class="columns">

      <div class="content column is-6 is-offset-3">


         <div id="tokenOwnerQuery" class="main-text box" v-cloak    >


         <div class="whitespace-md"></div>


         <div class="columns">
           <div class="column">
              <h4 class=" is-size-4 is-4 is-spaced  " >Get Nametag Owner</h4>
           </div>
           <div class="column">

           </div>
         </div>

          <div class="field">
            <label class="label"> </label>
            <div class="control">
              <input class="input is-large" type="text" placeholder="Token Name"   v-model='queryName'>
            </div>
           </div>

           <div class="columns">
             <div class="column">
               <div>
                <a v-bind:href='ownerURL' target="blank"> {{ownerResult}} </a>
               </div>
             </div>
             <div class="column">
               <div class="pull-right">
                 <div v-bind:disabled=" !(queryName.length > 0)" class="button is-large" v-on:click='onSubmit'>
                   <span class=" ">
                     <i class="fab fa-ethereum" style="margin-right:1em"></i>
                   </span>
                   <span> Query </span>
                 </div>
               </div>
             </div>
           </div>



          </div>

      </div>
     </div>


     <div class="whitespace-sm"></div>


     <div class="columns">

      <div class="content column is-6 is-offset-3">


         <div id="tokenNameQuery" class="main-text box" v-cloak    >


         <div class="whitespace-md"></div>


         <div class="columns">
           <div class="column">
              <h4 class=" is-size-4 is-4 is-spaced  " >Token ID To Name</h4>
           </div>
           <div class="column">

           </div>
         </div>

          <div class="field">
            <label class="label"> </label>
            <div class="control">
              <input class="input is-large" type="text" placeholder="Token ID"   v-model='queryId'>
            </div>
           </div>

           <div class="columns">
             <div class="column">
               <div>
                 {{tokenNameResult}}
               </div>
             </div>
             <div class="column">
               <div class="pull-right">
                 <div v-bind:disabled=" !(queryId.length > 0)" class="button is-large" v-on:click='onSubmit'>
                   <span class=" ">
                     <i class="fab fa-ethereum" style="margin-right:1em"></i>
                   </span>
                   <span> Query </span>
                 </div>
               </div>
             </div>
           </div>



          </div>

      </div>
     </div>


   </div>




	</div>
      </section>
      <hr/>
    </div>
    <!-- end of example block -->





    <%= require('html-loader!./assets/html/footer.html') %>



  </body>
</html>
